html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar .nav-link {
    position: relative;
    transition: all 0.2s ease;
}

    .navbar .nav-link.active {
        color: #ffffff !important;
        font-weight: 600;
    }

        .navbar .nav-link.active::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -6px;
            height: 3px;
            color: #ffffff !important;
            background-color: #dc3545; /* rouge */
            border-radius: 3px;
        }